@media only screen and (min-width: 768px) {
	.navbar-toggler{
		display: none;
	}	
	.navbar-collapse{
		position: unset;
		width:auto;
	}
	.nav{
		display: flex;
	}
/*_____________________________________________________	*/
	section{
		height: 500px;
		
	}
	.main{ padding-block:70px }
	.profil{top: 120px;}
	.profil img{
		height: 200%;
		width: auto;
	}
	.svg{
		display: block;
		position: relative;
		top: 100px;
	}
	.row{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.row-md{
		flex-direction: row;
		justify-content: space-evenly;
	}
	.col-md-2{
		display: flex;
		width: 50%;
		justify-content: center;
		align-items: center;
	}

	.image{
		height: unset;
	}
	.bg-white{
		background: #fff;
	}
	.center{
		background: #fdfdfd;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50%;
	}
	.border{
		border: 3px inset;
	}
	.box-shadow-rb{
		box-shadow: 5px 5px #00d , 10px 10px #44b , 15px 15px #008;
	}
	.box-shadow-lb{
		box-shadow: -5px 5px #00d , -10px 10px #44b , -15px 15px #008;
	}
.width-40{
	width: 45%;
}

/*_____________________________________________________*/
footer{
	padding-bottom: 15px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	text-align: center;
	.col-span{
		font-size: 2em;
		color: #fff;
		}
	.wrapper{
		justify-content: space-evenly;
		display: flex;
		flex-direction: row;
		column-count: 2;

		.col{
			display: flex;
			flex-direction: column;
			width: 50%;
			form div{
				padding: 5px;
				background: rgba(200, 200, 200, 1.0);
				text-align: start;
				display: flex;
				flex-direction: column;
				width: 60%;
				textarea{
					height: 40px;
				}
				button{
					height: fit-content;
					width: fit-content;
				}
			}
		}
	}
}

}














